<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Organisateur de tournoi en physique sur le jeu Dota 2">
    <meta name="author" content="Association Radiance">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ absolute_url('/favicon/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ absolute_url('/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ absolute_url('/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ absolute_url('/favicon/site.webmanifest') }}">

    <title>{% block title %}Association Radiance{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>

<body>
{% block body %}{% endblock %}
</body>
</html>
